<ion-content mode="md">
  
  <div class="main-container">
    
    <div class="sidemenubtn-container">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/tasks"></ion-back-button>
        <p>Completed Tasks</p>
      </ion-buttons>
    </div>

  </div>

  <div class="roundedtopcard-container animate__animated animate__slideInDown">

    <div class="rep-icon">
      <img src="../../assets/images/completed-tasks-1.png">
    </div>

    <div class="tasks-container">

      <div class="task">
        <div class="task-text">
          <p>Task Title</p>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil voluptatem facilis, error eligendi dolorum numquam!</p>
        </div>
      </div>

    </div>

  </div>

</ion-content>
