<ion-content mode="md">

  <div class="main-container">

    <div class="sidemenubtn-container">
      <ion-buttons slot="start">  
        <ion-menu-button></ion-menu-button>
        <p>Profile</p> 
      </ion-buttons> 
    </div>

  </div>

  <div class="roundedtopcard-container animate__animated animate__slideInDown">

    <div class="avatar-container">
      <img src="../../assets/images/male-avatar.png">
    </div>

    <div class="roundedtopcard-content">
      <div class="flat-card">
        <p>Name</p>
        <p>Juan Dela Cruz</p>
      </div>
    </div>

    <div class="roundedtopcard-content">
      <div class="flat-card">
        <p>Date of Birth</p>
        <p>June 25, 2014</p>
      </div>
    </div>

    <div class="roundedtopcard-content">
      <div class="flat-card">
        <p>Username</p>
        <p>username</p>
      </div>
    </div>
    
  </div>

</ion-content>
